<a href="https://colab.research.google.com/github/tecnocrata/artificial-intelligence-course/blob/master/0.1.Fundamentals/2_Pandas_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas
Biblioteca de codigo abierto que proporciona estructuras de datos y herramientas de analisis de datos de alto rendimiento

In [1]:
import pandas as pd

# Los tipos de datos que tiene son
# Series y Dataframes

# Series

In [2]:
# la estructura de datos mas simple es Series
series = pd.Series([5,10,15,20,25])
series
# Es una estructura parecida a un diccionario (yo lo veo mas como un array)

0     5
1    10
2    15
3    20
4    25
dtype: int64

In [3]:
type (series)
# Este es el tipo de datos de pandas

pandas.core.series.Series

In [4]:
# Accediendo a un elemento de la serie
series[3]

20

In [5]:
cad = pd.Series (['p','a', 'n', 'd','a','s'])
# No solamente permite almacenar numeros como se ve
cad

0    p
1    a
2    n
3    d
4    a
5    s
dtype: object

# Dataframes

In [6]:
# Esta es la estructura mas importante
# Se usa para hacer analisis de datos, se parece a una hoja excel o SQL

lst = ['Hola','mundo']
df = pd.DataFrame(lst)
df
# Es parecido a la serie, pero observece la numeracion en la columna

       0
0   Hola
1  mundo

In [10]:
# Vamos a armar un DF pero con nombres de columna personalizados
data = {'Nombre':['Juan','Ana','Jose','Sam'], 'Edad':[20,30, 15,40], 'Pais':['BO','MX','ES','CO']}
df = pd.DataFrame (data)
df

  Nombre  Edad Pais
0   Juan    20   BO
1    Ana    30   MX
2   Jose    15   ES
3    Sam    40   CO

In [12]:
# Imprimir solo dos columnas del DF
print (df[['Nombre','Pais']])

  Nombre Pais
0   Juan   BO
1    Ana   MX
2   Jose   ES
3    Sam   CO

In [13]:
# Importando el archivo canciones-2018.csv
!git clone https://github.com/tecnocrata/artificial-intelligence-course.git

Cloning into 'artificial-intelligence-course'...
remote: Enumerating objects: 163, done.
remote: Counting objects: 100% (163/163), done.
remote: Compressing objects: 100% (152/152), done.
remote: Total 163 (delta 79), reused 33 (delta 8), pack-reused 0
Receiving objects: 100% (163/163), 6.00 MiB | 5.06 MiB/s, done.
Resolving deltas: 100% (79/79), done.

In [14]:
filePath = '/content/artificial-intelligence-course/0.1.Fundamentals/'
data = pd.read_csv(filePath+'2_canciones-2018.csv')
# Solo obtenemos las primeras 5 lineas
data.head (5)

                      id  ... time_signature
0  6DCZcSspjsKoFjzjrWoCd  ...            4.0
1  3ee8Jmje8o58CHK66QrVC  ...            4.0
2  0e7ipj03S05BNilyu5bRz  ...            4.0
3  3swc6WTsr7rl9DqQKQA55  ...            4.0
4  2G7V7zsVDxg1yRsu7Ew9R  ...            4.0

[5 rows x 16 columns]

In [17]:
# Obteniendo solo la lista de artistas (toda la columna de artistas)
artista = data.artists
print (artista[:5])
type(artista)
# Recupera la lista como una SERIE!!!!

0           Drake
1    XXXTENTACION
2     Post Malone
3     Post Malone
4           Drake
Name: artists, dtype: object

pandas.core.series.Series

In [18]:
# Recuperando un solo artista en la posicion 5 de la serie
artista[5]

'Post Malone'

In [20]:
# obtener una fila entera
row = data.iloc[0]
print (row)
type(row)
# Tambien es una serie!!!

id                  6DCZcSspjsKoFjzjrWoCd
name                           God's Plan
artists                             Drake
danceability                        0.754
energy                              0.449
key                                     7
loudness                           -9.211
mode                                    1
speechiness                         0.109
acousticness                       0.0332
instrumentalness                 8.29e-05
liveness                            0.552
valence                             0.357
tempo                              77.169
duration_ms                        198973
time_signature                          4
Name: 0, dtype: object

pandas.core.series.Series

In [22]:
# Recuperando el final
data.tail ()

                       id  ... time_signature
95  630sXRhIcfwr2e4RdNtjK  ...            4.0
96  2xmrfQpmS2iJExTlklLoA  ...            4.0
97  5WvAo7DNuPRmk4APhdPzi  ...            5.0
98  1j4kHkkpqZRBwE0A4CN4Y  ...            4.0
99  3EPXxR3ImUwfayaurPi3c  ...            4.0

[5 rows x 16 columns]

In [23]:
# Para saber el shape de este data
data.shape

(100, 16)

In [24]:
# Recuperamos los nombres columnas
data.columns

Index(['id', 'name', 'artists', 'danceability', 'energy', 'key', 'loudness',
       'mode', 'speechiness', 'acousticness', 'instrumentalness', 'liveness',
       'valence', 'tempo', 'duration_ms', 'time_signature'],
      dtype='object')

In [27]:
# Obtener datos estadisticos de una columna
artista.describe()
# En una columna de texto la informacion es mas breve

count             100
unique             70
top       Post Malone
freq                6
Name: artists, dtype: object

In [28]:
data['tempo'].describe()
# En una columna numerica se obtiene mas informacion

count    100.000000
mean     119.904180
std       28.795984
min       64.934000
25%       95.730750
50%      120.116000
75%      140.022750
max      198.075000
Name: tempo, dtype: float64

In [30]:
# Si queremos ordenar los datos, por las filas, de manera ascendente
data.sort_index (axis=0, ascending=True)

                       id  ... time_signature
0   6DCZcSspjsKoFjzjrWoCd  ...            4.0
1   3ee8Jmje8o58CHK66QrVC  ...            4.0
2   0e7ipj03S05BNilyu5bRz  ...            4.0
3   3swc6WTsr7rl9DqQKQA55  ...            4.0
4   2G7V7zsVDxg1yRsu7Ew9R  ...            4.0
..                    ...  ...            ...
95  630sXRhIcfwr2e4RdNtjK  ...            4.0
96  2xmrfQpmS2iJExTlklLoA  ...            4.0
97  5WvAo7DNuPRmk4APhdPzi  ...            5.0
98  1j4kHkkpqZRBwE0A4CN4Y  ...            4.0
99  3EPXxR3ImUwfayaurPi3c  ...            4.0

[100 rows x 16 columns]

# Tarea
Ordernar los datos por una columna cualquiera

In [36]:
sorted = data.sort_values(by='name', ascending=True)
sorted [:7]

                       id  ... time_signature
77  4QtiVmuA88tPQiCOHZuQ5  ...            4.0
60  2BgEsaKNfHUdlh97KmvFy  ...            4.0
34  2hl6q70unbviGo3g1R7uF  ...            4.0
15  3GCdLUSnKSMJhs4Tj6CV3  ...            4.0
47  4hQ6UGyWQIGJmHSo0J88J  ...            4.0
99  3EPXxR3ImUwfayaurPi3c  ...            4.0
54  0pqnGHJpmpxLKifKRmU6W  ...            4.0

[7 rows x 16 columns]

In [ ]:
#